body {
  background-color: #0d0211;
  font-family: 'Press Start 2P', monospace;
  color: #fff;

  margin: 0px;
  padding: 0px;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background: #2d0050;
}

.topbar-left {
    margin-left: 16px;
}

.topbar-right {
    justify-self: end;
    margin-right: 16px;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #110122;
    border: solid;
    width: 500px;
}

.window-header {
    display: grid;

    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    border-bottom: solid;
    text-align: center;
    padding: 5px 7px;

    cursor: default;
}

.window-header p {
    margin: 0px;
}

.window-content {
    padding: 0px 20px 10px 20px;
}

.open-btn {
    cursor: pointer;
}

.close-btn {
    width: 16px;
    height: 16px;
    background: #ff3366;
    border-radius: 100%;
    cursor: pointer;

    justify-self: end
}